[package]
name = "rustimer"
version = "0.1.0"
edition = "2018"

[dependencies]
clap = "2.33.0"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
chrono = { version = "0.4", features = ["serde"] }
